In [92]:
import json
import pandas as pd
import numpy as np
import collections

In [4]:
data=json.load(open(r'data/docs/5922081.json'))

In [5]:
data.keys()

dict_keys(['company_info', 'api_data', 'other_details', 'topbox_information', 'jd_information', '_id'])

In [6]:
data['company_info']

{'Company Description': "cmts is engaged in the data entry outsourcing and supply of skilled/semi skilled &amp; unskilled Manpower across the industry spectrum. Our pool of manpower ranges from professionals such as Sales &amp; technical professionals in different categories, IT professionals, aviation sector, technical profiles, engineers, non-technical in-house professionals, administrative profiles, Accountant, HR, Back office, Data Entry Operator etc. Our organization's goal is total clients satisfaction through quality and personalized delivery of each and every service. We therefore exist to cater the need of these prospecting employers/companies since our inception in 2008.",
 'Email': 'hr@cmts.in',
 'Company Name': 'CMTS (Core Management &amp; Technical Services)',
 'Telephone': '9631857963'}

In [61]:
data['api_data']

{'job_location': ['Ludhiana'],
 'jd_id': '5922081',
 'job_keywords': ['Travel support Executive',
  '  Travel executive at saanewaal location'],
 'job_industry': 'Travel / Tourism',
 'company_name': 'CMTS (Core Management & Technical Services)',
 'job_experience': '2 to 4 Yrs',
 'job_title': 'Travel support Executive, Travel executive at saanewaal location'}

In [8]:
data['other_details']

{'Other Skills:': ['Travel support Executive',
  'Travel executive at saanewaal location'],
 'Industry:': ['Travel / Tourism'],
 'Department:': ['Customer Service (Domestic)',
  'Technical Support / Helpdesk']}

In [9]:
data['topbox_information']

{'salary_information': 'Rs 2.0  - 3.0 Lakh/Yr'}

In [10]:
data['jd_information']

{'description': 'Urgent positions for Travel Executive at Saanewaal Location, Ludhiana.&nbsp;Female candiadtes can only apply&nbsp;Post - Travel support ExecutiveExp-2-4 yearsSalary-15-25k/monthJob Detail-Excellent Communication SkillsKnowledge of excel, word, airport codes, culture is a plusAtleast 1-2 yrs of experience in local&nbsp; market.Ability to perform in different scopes of consulting projects in Travel industry - For e.g. Business/ IT/ Operating Strategy and Implementation, Process Transformation, Customer Relationship Management, Digital Strategy and Implementation- Possesses excellent communication (written and oral) skills and excellent presentation skills- Comfortable working with the highest levels of client organizations- Comfortable functioning in a broadly positioned and highly diverse consulting firm- Excellent team work and ability to work in distributed delivery environment.Intrested can call to Aditya kumar on 8527750087 or mail your cv on hr@cmts.in, cmts.hr@gmail.com&nbsp;'}

In [11]:
data['_id']

'5922081'

# lets prepare data for each job category using json files corresponding to csv.

In [12]:
df=pd.read_csv('data/document_departments.csv')

In [40]:
df= df.sort_values(by ='Department')

In [41]:
df['Department'].unique().shape

(30,)

We have 30 classes so we will prepare data in such way that first column contains all the text data relevant to job and second column willbe class id.

In [42]:
classes=df['Department'].unique()

In [43]:
classes=pd.Series(classes)

In [44]:
dic={}
for  i in range(len(classes)):
    dic[classes[i]]=i

In [45]:
dic

{'Administration': 0,
 'Airline Ground Operations': 1,
 'Analytics': 2,
 'Back office ticketing': 3,
 'Content': 4,
 'Customer service': 5,
 'Data entry': 6,
 'Digital Marketing': 7,
 'Engineering Design Construction': 8,
 'Finance': 9,
 'Flight Operations': 10,
 'IT': 11,
 'Learning and Development ': 12,
 'Logistics': 13,
 'Maintenance': 14,
 'Management Consulting': 15,
 'Marine Deck ': 16,
 'Marine Engineering ': 17,
 'Marine Service Steward ': 18,
 'Marketing': 19,
 'Operations': 20,
 'Presales ': 21,
 'Procurement': 22,
 'Public Relations ': 23,
 'QA ': 24,
 'Recruitment': 25,
 'Safety ': 26,
 'Sales': 27,
 'Technology': 28,
 'Ticketing': 29}

In [48]:
class_ids=[]
for i in range(len(df)):
    class_ids.append(dic[df.iloc[i]['Department']])

In [50]:
df['class_ids']=class_ids

### We need to decide attributes important for training

company_info
dict_keys(['Company Description', 'Email', 'Company Name', 'Telephone'])
api_data
dict_keys(['job_location', 'jd_id', 'job_keywords', 'job_industry', 'company_name', 'job_experience', 'job_title'])
other_details
dict_keys(['Other Skills:', 'Industry:', 'Department:'])
topbox_information
dict_keys(['salary_information'])
jd_information
dict_keys(['description'])

Important Attributes:
1.Company Description
2.Company Name
3.job_keywords
4.job_industry
5.job_title
6.other skills
7.industry
8.department
9.salary information
10.job description

So these are ten attributes we will be using to classify job category out of those 30 classes.
We can prepare a single text combining all these attributes.

In [79]:
textfile_sample=data['company_info']['Company Description']+'Comapany Name is %s.'%(data['company_info']['Company Name'])+'Job keywords are %s.'%(','.join(data['api_data']['job_keywords']))+'Job Industry is %s.'%(data['api_data']['job_industry'])+'Other skills required are %s.'%(','.join(data['other_details']['Other Skills:']))+'Job departments are %s.'%(','.join(data['other_details']['Department:']))+'Salary provided is %s.'%(data['topbox_information']['salary_information'])+'Job Description is as follows : %s.'%(data['jd_information']['description'])

In [80]:
#So Our Combined text will look like this.
textfile_sample

"cmts is engaged in the data entry outsourcing and supply of skilled/semi skilled &amp; unskilled Manpower across the industry spectrum. Our pool of manpower ranges from professionals such as Sales &amp; technical professionals in different categories, IT professionals, aviation sector, technical profiles, engineers, non-technical in-house professionals, administrative profiles, Accountant, HR, Back office, Data Entry Operator etc. Our organization's goal is total clients satisfaction through quality and personalized delivery of each and every service. We therefore exist to cater the need of these prospecting employers/companies since our inception in 2008.Comapany Name is CMTS (Core Management &amp; Technical Services).Job keywords are Travel support Executive,  Travel executive at saanewaal location.Job Industry is Travel / Tourism.Other skills required are Travel support Executive,Travel executive at saanewaal location.Job departments are Customer Service (Domestic),Technical Support / Helpdesk.Salary provided is Rs 2.0  - 3.0 Lakh/Yr.Job Description is as follows : Urgent positions for Travel Executive at Saanewaal Location, Ludhiana.&nbsp;Female candiadtes can only apply&nbsp;Post - Travel support ExecutiveExp-2-4 yearsSalary-15-25k/monthJob Detail-Excellent Communication SkillsKnowledge of excel, word, airport codes, culture is a plusAtleast 1-2 yrs of experience in local&nbsp; market.Ability to perform in different scopes of consulting projects in Travel industry - For e.g. Business/ IT/ Operating Strategy and Implementation, Process Transformation, Customer Relationship Management, Digital Strategy and Implementation- Possesses excellent communication (written and oral) skills and excellent presentation skills- Comfortable working with the highest levels of client organizations- Comfortable functioning in a broadly positioned and highly diverse consulting firm- Excellent team work and ability to work in distributed delivery environment.Intrested can call to Aditya kumar on 8527750087 or mail your cv on hr@cmts.in, cmts.hr@gmail.com&nbsp;."

## So now we will prepare same for ever job category json files.

In [127]:
def conversion_text(json_file):
    data= collections.defaultdict(lambda : ' ', **json_file)
    data['company_info']=collections.defaultdict(lambda : ' ', **data['company_info'])
    data['api_data']=collections.defaultdict(lambda : ' ', **data['api_data'])
    data['other_details']=collections.defaultdict(lambda : ' ', **data['other_details'])
    data['topbox_information']=collections.defaultdict(lambda : ' ', **data['topbox_information'])
    data['jd_information']=collections.defaultdict(lambda : ' ', **data['jd_information'])
    textfile=data['company_info']['Company Description']+'Comapany Name is %s.'%(data['company_info']['Company Name'])+'Job keywords are %s.'%(','.join(data['api_data']['job_keywords']))+'Job Industry is %s.'%(data['api_data']['job_industry'])+'Other skills required are %s.'%(','.join(data['other_details']['Other Skills:']))+'Job departments are %s.'%(','.join(data['other_details']['Department:']))+'Salary provided is %s.'%(data['topbox_information']['salary_information'])+'Job Description is as follows : %s.'%(data['jd_information']['description'])  
    return textfile

In [136]:
textfiles=[]
for i in range(len(df)):
    json_file=json.load(open(r'data/docs/%s.json'%(df.loc[i]['Document ID'])))
    text_file=conversion_text(json_file)
    textfiles.append(text_file)

In [137]:
len(textfiles)

1162

In [138]:
textfiles[345]

'About Us- Unique Travelite Services Pvt. Ltd.UTS Is An ISO Certified Entity Listed On Ministry Of Corporate Affairs. Our Company Provides Best-In-Class Service In The Travel &amp; Tourism Sector Across WorldComapany Name is Unique Travelite Services Pvt. Ltd..Job keywords are marketing, sales, can,marketing management, full, from, advertising management, work, graduate, promotions activities, part, time, freshers, home, sales management.Job Industry is Travel / Tourism.Other skills required are marketing management,full,from,advertising management,work,graduate,promotions activities,part,time,freshers,home,sales management.Job departments are HR,Internet Marketing.Salary provided is Rs 3.0  - 6 Lakh/Yr.Job Description is as follows : Hello Readers,UTS Is An ISO Certified Entity Listed On Ministry Of Corporate Affairs. Our Company Provides Best-In-Class Service In The Travel &amp; Tourism Sector Across World. Besides This, UTS Envisions Providing Income Opportunity To Those People Who Are Passionate To Fulfill Their Dreams.&nbsp;We are Offering:-1. Extra Income.2. Financial Freedom.3. Have Own Business.4. More Spare Time.5. Personal Development.6. Helping Others.7. Meeting With New People.8. Early Retirement.9. Leave Legacy.10. Int.Travel.&nbsp;For More Contact Us:- 7678160989(Shahana)From HR Department&nbsp;.'

In [139]:
df['text_file']=pd.Series(textfiles)

In [140]:
df.head()

,Document ID,Department,class_ids,text_file
1129,8366374,Administration,0,Comapany Name is Heraa international travel s...
578,8125246,Administration,0,Alliance Recruitment AgencyComapany Name is Al...
566,8203166,Administration,0,Comapany Name is Jobtrack Management Services...
543,8203252,Administration,0,Comapany Name is Jobtrack Management Services...
1109,8394452,Administration,0,Comapany Name is T.Y. Tours &amp; Travels.Job...

In [141]:
df.to_csv('prepared_data.csv',index=False)